CompileFlags:
  CompilationDatabase: >-
    d:\Desktop_Floder\Git_Project\26-B-AdaptiveFilter-STM32\AdaptiveFilter\MDK-ARM\out\h743_hal\h743_hal
  Add:
    - '-D__ARMCOMPILER_LIBCXX=1'
    - >-
      -ID:/Desktop_Floder/Git_Project/26-B-AdaptiveFilter-STM32/AdaptiveFilter/MDK-ARM/RTE/_h743_hal
    - >-
      -IC:/Users/47306/AppData/Local/arm/packs/ARM/CMSIS/5.9.0/CMSIS/Core/Include
    - >-
      -IC:/Users/47306/AppData/Local/arm/packs/Keil/STM32H7xx_DFP/3.1.1/Drivers/CMSIS/Device/ST/STM32H7xx/Include
    - >-
      -ID:/Desktop_Floder/Git_Project/26-B-AdaptiveFilter-STM32/AdaptiveFilter/MDK-ARM/../Tasks
    - >-
      -ID:/Desktop_Floder/Git_Project/26-B-AdaptiveFilter-STM32/AdaptiveFilter/MDK-ARM/../SignalProcess
    - >-
      -ID:/Desktop_Floder/Git_Project/26-B-AdaptiveFilter-STM32/AdaptiveFilter/MDK-ARM/../MyDrive
    - >-
      -ID:/Desktop_Floder/Git_Project/26-B-AdaptiveFilter-STM32/AdaptiveFilter/MDK-ARM/../SignalProcess/long_fft
    - >-
      -ID:/Desktop_Floder/Git_Project/26-B-AdaptiveFilter-STM32/AdaptiveFilter/MDK-ARM/../Core/Inc
    - >-
      -ID:/Desktop_Floder/Git_Project/26-B-AdaptiveFilter-STM32/AdaptiveFilter/MDK-ARM/../Drivers/STM32H7xx_HAL_Driver/Inc
    - >-
      -ID:/Desktop_Floder/Git_Project/26-B-AdaptiveFilter-STM32/AdaptiveFilter/MDK-ARM/../Drivers/STM32H7xx_HAL_Driver/Inc/Legacy
    - >-
      -ID:/Desktop_Floder/Git_Project/26-B-AdaptiveFilter-STM32/AdaptiveFilter/MDK-ARM/../Drivers/CMSIS/Device/ST/STM32H7xx/Include
    - >-
      -ID:/Desktop_Floder/Git_Project/26-B-AdaptiveFilter-STM32/AdaptiveFilter/MDK-ARM/../Drivers/CMSIS/Include
    - >-
      -ID:/Desktop_Floder/Git_Project/26-B-AdaptiveFilter-STM32/AdaptiveFilter/MDK-ARM/../Hardware
    - >-
      -ID:/Desktop_Floder/Git_Project/26-B-AdaptiveFilter-STM32/AdaptiveFilter/MDK-ARM/../Drivers/CMSIS/DSP/Include
    - >-
      -ID:/Desktop_Floder/Git_Project/26-B-AdaptiveFilter-STM32/AdaptiveFilter/MDK-ARM/tmp/h743_hal+h743_hal
